/*COMPONENTES LOGIN Y REGISTER TOMAN ESTA HOJA DE ESTILOS*/

.register_container {
  height: 100vh;
  width: 100%;
}

.BelieTitulo {
  font-size: 10rem;
  font-family: var(--belieFont);
}

.BelieSubtitulo {
  font-family: var(--joseSlab);
}

.register_blob {
  width: 100%;
  height: 100%;
  background-size: 130% 140%;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url(../../../public/img/RegisterBG.jpg);
  display: flex;
  flex-direction: column;
}
.cardForm {
  width: 25%;
  display: block;
  margin: 3rem auto;
  background-color: var(--mistyRose);
  height: fit-content;
  padding: 2rem;
}

.loginBtn {
  background-color: var(--aqua);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: 900;
  color: var(--negro);
  border-radius: 7px;
  transition: background-color 0.2s ease-in-out;
  border: solid 3px #badbc0;
}
.loginBtn:hover {
  background-color: #badbc0;
}
@media only screen and (max-width: 900px) {
    .cardForm {
      width: 50%;
    }
  }
  
@media only screen and (max-width: 768px) {
  .cardForm {
    width: 80%;
  }
}

@media only screen and (max-width: 376px) {
}
