.register_container {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--lightRosa);
}

.BelieTitulo {
    margin-top: 2rem;
    font-size: 10rem;
    font-family: var(--belieFont);
}

.BelieSubtitulo {
    font-family: var(--joseSlab);
}

.register_form {
    width: 50%
}

.register_blob {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../public/img/RegisterBG.jpg);
}


.cardForm {
    display: block;
    width: 80%;
    margin: 10% auto 0 auto;
}

.registerForm {
    margin-top: 2rem;
    border: solid 3px var(--lightNude);
    padding: 2rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 5%;
}

.register_form h1 {
    background-color: var(--blanco);
    width: fit-content;
    display: block;
    padding: 0.5rem 1rem;
}

.registerForm hr {
    border: none;
    border-top: solid 3px var(--lightNude);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.registerForm p {
    padding: 1rem 0;
    margin-bottom: 3rem;
    font-size: 1.8rem;
}

.registerForm div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem auto;
}

.logError {
    width: 80%;
    padding: 1rem;
    
    background-color: var(--lightNaranja);
    border: solid 3px darkred;
    color: var(--negro);
    border-radius: 7px;
}

.logError span {
    font-size: 1.5rem;
    font-weight: 600;
}

.row label {
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.rowInput {
    padding: 1rem 1rem;
    width: 100%;
    border: solid 3px var(--lightVioleta);
    background-color: var(--blanco);
    border-radius: 7px;
    outline: none;
    line-height: 2.5rem;
    font-size: 2rem;
}

.inputError {
    padding: 1rem 1rem;
    width: 100%;
    border-radius: 7px;
    outline: none;
    line-height: 2.5rem;
    font-size: 2rem;
    border: solid 3px darkred;
}

.row span {
    width: 100%;
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    color: darkred;
}

input::placeholder {
    color: #999;
}

input:hover {
    border: solid 3px var(--lightNaranja);
}

input:focus {
    outline: none;
    border: solid 3px var(--marron);
}


.submit {
    width: 50%;
    padding: 2rem 1rem;
    background-color: var(--lightVerde);
    font-size: 2rem;
    font-weight: 900;
    color: var(--negro);
    border-radius: 7px;
    transition: background-color 0.2s ease-in-out;
    border: solid 3px #BADBC0;
}

.submit:hover {
    background-color: #BADBC0;
}

@media only screen and (max-width: 768px) {

    .register_blob {
        display: none;
    }

    .register_form {
        width: 100%;
    }

    .cardForm {
        width: 100%;
    }

    .cardForm {
        width: 100%;
        padding: 1rem;
        margin: 0;
    }

    .row label,
    .row input {
        line-height: 1.2rem;
        font-family: 1rem;
    }

    .submit {
        padding: 1rem;
    }

}

@media only screen and (max-width: 376px) {

    .register_form {
        width: 100%;
    }

    .cardForm {
        width: 100%;
    }

    .cardForm {
        width: 100%;
        padding: 0.5rem 1rem;
        margin: 0;
    }

    .registerForm p {
        margin-bottom: 1rem;
    }

    .registerForm hr {
        display: none;
    }

    .row label,
    .row input {
        line-height: 1rem;
        font-family: 0.8rem;
    }

    .submit {
        padding: 1rem;
        width: fit-content;
    }

}