.cardForm{
    display: block;
    width: 50%;
    margin: 0 auto;
    background-color: var(--nude);
}

form{
    height: 50vh;
}

form div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 2.5rem auto;
}

.row label{
    font-size: 2rem;
    width: 100%;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.row input{
    padding: 1rem 1rem;
    width: 100%;
    border: solid 3px var(--nude);
    border-radius: 7px;
    outline: none;
}

.row span{
    width: 100%;
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    color: var(--marron)
}

input::placeholder{
    color: #999;
}
input:hover{
    border: solid 3px var(--naranja);
}
input:focus{
    outline: none;
    border: solid 3px var(--marron);
}

form button{
    width: 50%;
    padding: 2rem 1rem;
    background-color: var(--verde);
    border: solid 1px var(--verde);
    font-size: 2rem;
    font-weight: 900;
    color: var(--negro);
    border-radius: 7px;
}

button:hover{
    border: solid 3px #BADBC0;
}
button:focus{
    background-color: #BADBC0;
}